h1= title
div(style="position: absolute; top: 150px; left: 50px")
  canvas#canvasOne(width=500,height=300) your browser does not support HTML5 Canvas.
input#createImageData(type="button",value="Export Canvas Image")
script(type="text/coffeescript", src='/javascripts/1-4.coffee')
