h1= title
div(style="position: absolute; top: 150px; left: 50px")
  canvas#canvasOne(width=500,height=300) your browser does not support HTML5 Canvas.
  form
    span Text:
    input#textBox(placeholder="your text")
    br
    span Text Font:
    select#textFont
      option(value="serif") serif
      option(value="sans-serif") sans-serif
      option(value="cursive") cursive
      option(value="fantasy") fantasy
      option(value="monospace") monospace
    br
    span Font Weight:
    select#fontWeight
      option(value="normal") normal
      option(value="bold") bold
      option(value="bolder") bolder
      option(value="lighter") lighter
    br
    span Font Style:
    select#fontStyle
      option(value="normal") normal
      option(value="italic") italic
      option(value="oblique") oblique
    br
    span Font Size:
    input#fontSize(type="range", min="0", max="200", step="1", value="50")
    br
    span Fill Type:
    select#fillType
      option(value="colorFill") Color Fill
      option(value="linearGradient") Linear Gradient
      option(value="radialGradient") Radial Gradient
      option(value="pattern") pattern
    br
    span Text Color:
    input#textFillColor.color(value="#FF0000")
    br
    span Text Color 2:
    input#textFillColor2.color(value="#000000")
    br
    span Fill Or Stroke:
    select#fillOrStroke
      option(value="fill") fill
      option(value="stroke") stroke
      option(value="both") both
    br
    span Text Baseline:
    select#textBaseline
      option(value="middle") middle
      option(value="top") top
      option(value="hanging") hanging
      option(value="alphabetic") alphabetic
      option(value="ideographic") ideographic
      option(value="bottom") bottom
    br
    span Text Align:
    select#textAlign
      option(value="center") center
      option(value="start") start
      option(value="end") end
      option(value="left") left
      option(value="right") right
    br
    span Alpha:
    input#textAlpha(type="range", min="0.0", max="1.0", step="0.01", value="1.0")
    br
    span Shadow X:
    input#shadowX(type="range", min="-100", max="100", step="1", value="1")
    br
    span Shadow Y:
    input#shadowY(type="range", min="-100", max="100", step="1", value="1")
    br
    span Shadow Blur:
    input#shadowBlur(type="range", min="1", max="100", step="1", value="1")
    br
    span Shadow Color:
    input#shadowColor.color(value="#707070")
    br
    span Canvas Width:
    input#canvasWidth(type="range", min="0", max="1000", step="1", value="300")
    br
    span Canvas Height:
    input#canvasHeight(type="range", min="0", max="1000", step="1", value="300")
    br
    span Canvas Style Width:
    input#canvasStyleWidth(type="range", min="0", max="1000", step="1", value="500")
    br
    span Canvas Style Height:
    input#canvasStyleHeight(type="range", min="0", max="1000", step="1", value="300")
    br
    input#createImageData(type="button", value="Create Image Data")
    br
    textarea#imageDataDisplay(rows=10, cols=30)

script(type="text/javascript", src='/javascripts/jscolor/jscolor.js')
script(type="text/coffeescript", src='/javascripts/3-3.coffee')
