h1= title
div(style="position: absolute; top: 150px; left: 50px")
  canvas#canvasOne(width=500,height=500) your browser does not support HTML5 Canvas.
script(type="text/coffeescript", src='/javascripts/4-12.coffee')
