h1= title
div
  canvas#canvas(width=256,height=256,style="position: absolute; top: 150px; left: 50px") your browser does not support HTML5 Canvas.
  canvas#canvas2(width=32,height=32, style="position: absolute; top: 416px; left: 50px;") your browser does not support HTML5 Canvas.
script(type="text/coffeescript", src='/javascripts/4-17.coffee')
