!!! 5
h1= title
div
  canvas#canvas(width=500,height=500,style="position: absolute; top: 150px; left: 50px") your browser does not support HTML5 Canvas.
script(type="text/coffeescript", src='/javascripts/5-3.coffee')
