!!! 5
h1= title
div(style="position:absolute; top:150px; left:50px;")
  canvas#canvasOne(width=370,height=300) your browser does not support HTML5
script(type="text/coffeescript", src='/javascripts/6-10.coffee')
