!!! 5
h1= title
div
	video#thevideolarge(width=640,height=480,autoplay,loop,controls)
		source(src="/videos/sample.ogv",type='video/ogg; codecs="vp8, vorbis"')
div (640x480)
div
	video#thevideomiddle(width=320,height=240,autoplay,loop,controls)
		source(src="/videos/sample.ogv",type='video/ogg; codecs="vp8, vorbis"')
div (320x240)
div
	video#thevideosmall(width=160,height=120,autoplay,loop,controls)
		source(src="/videos/sample.ogv",type='video/ogg; codecs="vp8, vorbis"')
div (160x120)
