!!! 5
h1= title
div
  video#theVideo(width=320,height=240,loop,controls,preload="auto")
    source(src="/videos/sample.ogv",type='video/ogg; codecs="vp8, vorbis"')
div#loadingStatus 0%

script(type="text/coffeescript", src='/javascripts/6-5.coffee')
