!!! 5
h1= title
div
	audio(controls, autoplay, loop) Your browser doesn't support the audio format
		source(src="/audios/audio.mp3", type="audio/mp3")
		source(src="/audios/audio.ogg", type="audio/ogg")