!!! 5
h1= title
div(style="position:absolute; top:150px; left:50px;")
  canvas#canvas(width=200,height=200) your browser does not support HTML5 Canvas.
script(type="text/coffeescript", src='/javascripts/8-7.coffee')
