h1= title
p examples of #{title}

h2 Chapter 1
ul
  li
    a(href="/1-3") 1-3 Canvas hello world 
  li
    a(href="/1-4") 1-4 Guess The Letter
h2 Chapter 2
ul
  li
    a(href="/2-1") 2-1 The Basic Rectangle Shape
  li
    a(href="/2-2") 2-2 Using Paths to Create Lines
  li
    a(href="/2-3") 2-3 More Advanced Line Drawing
  li
    a(href="/2-4") 2-4 A Circle Arc
  li
    a(href="/2-5") 2-5 The Canvas clipping region
  li
    a(href="/2-6") 2-6 Canvas compositing example
  li
    a(href="/2-7") 2-7 Simple rotation transformation
  li
    a(href="/2-8") 2-8 Rotation and Canvas state
  li
    a(href="/2-9") 2-9 Rotation around the center point
  li
    a(href="/2-10") 2-10 Multiple rotated squares
  li
    a(href="/2-11") 2-11 Scale from the center point
  li
    a(href="/2-12") 2-12 Scale and rotation combined
  li
    a(href="/2-13") 2-13 Scale and rotate a nonsquare object
  li
    a(href="/2-14") 2-14 A linear horizontal gradient
  li
    a(href="/2-15") 2-15 Multiple gradient-filed objects
  li
    a(href="/2-16") 2-16 A horizontal stroke gradient
  li
    a(href="/2-17") 2-17 Horizontal gradient on a complex shape
  li
    a(href="/2-18") 2-18 Vertical gradients
  li
    a(href="/2-19") 2-19 A vertical gradient stroke
  li
    a(href="/2-20") 2-20 A diagonal gradient
  li
    a(href="/2-21") 2-21 A simple radial gradient
  li
    a(href="/2-22") 2-22 A complex radial gradient
  li
    a(href="/2-23") 2-23 A radial gradient applied to a circle
  li
    a(href="/2-24") 2-24 An arc stroke gradient
  li
    a(href="/2-25") 2-25 Filling with an image file using repeat
  li
    a(href="/2-26") 2-26 Using the no-repeat, repeat-x, and repeat-y strings
  li
    a(href="/2-27") 2-27 Adding shadows to drawn objects

h2 Chapter 3
ul
  li
    a(href="/3-1") 3-1 Text Arranger Version 1.0
  li
    a(href="/3-2") 3-2 Text Arranger Version 2.0
  li
    a(href="/3-3") 3-3 Text Arranger Version 3.0
h2 Chapter 4
ul
  li
    a(href="/4-1") 4-1 Load and display image file
  li
    a(href="/4-2") 4-2 Resizing an image as it is drawn
  li
    a(href="/4-5") 4-5 sprite animation
  li
    a(href="/4-6") 4-6 animation and movement

h2 Chapter 5
h2 Chapter 6
h2 Chapter 7
h2 Chapter 8
h2 Chapter 9
h2 Chapter 10
h2 Chapter 11
